@font-face{
  font-display: swap;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/nunito-sans-v15-cyrillic_latin-300.woff2') format('woff2');
}
@font-face{
  font-display: swap;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/nunito-sans-v15-cyrillic_latin-regular.woff2') format('woff2');
}
@font-face{
  font-display: swap;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/nunito-sans-v15-cyrillic_latin-600.woff2') format('woff2');
}
@font-face{
  font-display: swap;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/nunito-sans-v15-cyrillic_latin-700.woff2') format('woff2');
}
@font-face{
  font-display: swap;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/nunito-sans-v15-cyrillic_latin-800.woff2') format('woff2');
}
@font-face{
  font-display: swap;
  font-family: 'Next Art';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/nextart-bold.woff2') format('woff2');
}
:root{
  --font-family: 'Nunito Sans', sans-serif;
  --font-color: #ffffff;
  --width-main: 100vw;
  --width-add: 1180px;
  --width-logo: 137px;
}
/*reset*/
*{
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  box-sizing: border-box;
  color: var(--font-color);
}
a{
  text-decoration: none;
  color: inherit;
}
ul{
  list-style: none;
}
body{
  position: relative;
}
button{
  cursor: pointer;
  outline: none;
  color: inherit;
}
/*header*/
.header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: var(--width-main);
  height: calc(var(--width-main) * 0.51);
  padding-bottom: calc(var(--width-main) * 0.043);
  background: url('../image/main.jpg') no-repeat center top / cover #a1a1a1a1;
  position: relative;
  left: 50%;
  transform: translatex(-50%);
}
.header__nav{
  width: var(--width-add);
  max-width: 1920px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__logo{
  width: var(--width-logo);
  height: calc(var(--width-logo) * 0.525);
  position: relative;
}
.nav__list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font: 600 18px/1 var(--font-family);
  gap: 1.44em; /* em? */
  color: var(--font-color);
}
.list__item-button{
  font: inherit;
  margin-left: 1.28em; /* em? */
  background-color: #1A3E3E;
  padding: 0.67em 1.33em; /* em? */
  border-radius: 0.22em;
}
.header__form{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  align-items: center;
  width: var(--width-add);
}
.form__title{
  width: var(--width-add);
  padding-right: calc(var(--width-add) * 0.1);
  font: 700 50px/1.5 'Next Art', serif;
  color: var(--font-color);
}
.form__fields{
  font: 700 16px/1.25 var(--font-family);
  width: var(--width-add);
  height: calc(var(--width-add) * 0.136);
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding: calc(var(--width-add) * 0.034);
  border-radius: 10px;
  background-color: #ffffff33;
}
.form__fields-wrap{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.form__dsc{
  font: 400 14px/1 var(--font-family);
  color: #fdfdfd;
  display: block;
  padding: 0.57em 0.57em 0;
}
.form__location, .form__date, .form__participants{
  font: inherit;
  color: #fdfdfd;
  border: 1px solid #E1E3E4;
  border-radius: 0.25em;
  width: calc(var(--width-add) * 0.23);
  padding: 0.875em 1em;
  background-color: transparent;
}
.form__participants-item, .form__location-item{
  background-color: #E1E3E400;
  color: #1A3E3E;
}
.form__button, .header__button-mobile{
  display: flex;
  justify-content: center;
  align-items: center;
  font: inherit;
  color: #1A3E3E;
  padding: 1em;
  border-radius: 0.25em;
}
.header__button-mobile{
  font: 700 16px/1 var(--font-family);
  position: relative;
  align-self: flex-start;
  margin: 32px 0 50px 0;
  display: none;
}
/*footer*/
.footer{
  width:var(--width-main);
  height: calc(var(--width-add) * 0.497);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1A3E3E;
  position: relative;
  left: 50%;
  transform: translatex(-50%);
}
.endline__items{
  width: var(--width-main);
  height: calc(var(--width-add) * 0.056);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #18121E;
  position: absolute;
  left: 0;
  bottom: 0;
}
.endline__item{
  display: flex;
  width: calc(var(--width-add)/2);
  justify-content: center;
  &:first-child{
    justify-content: flex-start;
  }
  &:last-child{
    justify-content: flex-end;
  }
}
.endline__item-address, .endline__item-link{
  font: 600 14px/1 var(--font-family);
  color: var(--font-color);
}
.footer__columns{
  width: var(--width-add);
  display: flex;
  /*flex-direction: column;*/
  justify-content: space-between;
  align-items: flex-start;
}
/*adaptive*/
@media (min-width: 1930px)/* for TV */{
  :root{
    --width-main: 1920px;
  }
}
@media (max-width: 1200px)/* for screen 4:3 */{
  :root{
    --width-add: 95dvw;
    --width-logo: 84px;
  }
  .nav__list{
    font: 400 14px/1 var(--font-family);
  }
  .form__title{
    font: 700 32px/1.5 'Next Art', serif;
  }
}
@media (max-width: 800px)/* for tablet */{
  :root{
  }
  .nav__list{
    font: 400 12px/1 var(--font-family);
  }
  .form__title{
    font: 700 28px/1.5 'Next Art', serif;
  }
  .form__location, .form__date, .form__participants{
    width: calc(var(--width-add) * 0.2);
  }
  .form__button, .form__location, .form__date, .form__participants, .form__dsc{
    font: 400 12px/1 var(--font-family);
  }
}
@media (max-width: 600px)/* for mobile */{
  :root{
    --width-logo: 84px;
  }
  .header{
    height: calc(var(--width-main) * 1.54);
    background: url('../image/main-m.jpg') no-repeat center top / contain #a1a1a1a1;
    overflow: hidden;
  }
  .header__title{
    font-size: 28px;
  }
  .nav__list{
    visibility: hidden;
  }
  .form__fields{
    display: none;
  }
  .header__button-mobile{
    display: flex;
  }
  /*footer*/
  .footer{
    height: 979px;
  }
  .endline__items{
    width: var(--width-main);
    height: 84px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
  }
  .endline__item, .endline__item:first-child, .endline__item:last-child{
    width: 296px;
    justify-content: center;
  }

}

