@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v47-cyrillic_latin-regular.woff2') format('woff2');
  }
  
  @font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v47-cyrillic_latin-700.woff2') format('woff2');
  }
  
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
}

ul{
  list-style-type: none;
}

/* header style*/

.header{
  width: 1440px;
  height: 56px;
}

.header__menu{
  display: flex;
  width: 1064px;
  height: 56px;
  margin: 0 calc(50% - 532px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.menu__items, .menu__buttons{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__item{
  margin-right: 28px;

  &:last-child{

    margin-right: 0;
  }
}

.menu__link{
  font: 700 16px/26.4px 'Roboto', sans-serif;
  color: rgba(28, 27, 27, 1);
}

.menu__logo{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.menu__button{
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.button__wrap{
  &:nth-child(2){
    margin-left: 10px;
    margin-right: 1px;
}
  &:last-child{
    margin-right: 7px;
  }
}

/* main style */

.main{
  width: 1440px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: rgb(255, 255, 255);
  align-items: center;
}

.main__gray{
  width: 1440px;
  height: 554px;
  background-color: rgba(240, 239, 235, 1);
}

.main__unique{
  display: flex;
  flex-direction: column;
  width: 1280px;
  height: 709px;
  justify-content:flex-start;
  align-items: center;
  position: relative;
  margin-top: 190px;
  margin-bottom: 426px;
}

.main__unique> p{
  font: 400 30px/30px 'Roboto', sans-serif;
}

.unique__line{
  width: 1280px;
  height: 157px;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: flex-end;
  top: 165px;
  margin-bottom: 110px;
  padding:0 108px;
}

.unique__point{
  font: 700 30px/30px 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0 75px;
}

.unique__point-first::before{
    content: "";
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    top: -96px;
    left: 50%;
    transform: translateX(-50%);
  }

.unique__point-first.uniq1::before{
  background-color: rgba(33, 247, 236, 1);
}
.unique__point-first.uniq2::before{
  background-color: rgba(51, 211, 188, 1);
}
.unique__point-first.uniq3::before{
  background-color: rgba(24, 165, 198, 1);
}
.unique__point-first.uniq4::before{
  background-color: rgba(211, 143, 98, 1);
}
.unique__point-first.uniq5::before{
  background-color: rgba(249, 76, 67, 1);
}
.unique__point-first.uniq6::before{
  background-color: rgba(211, 153, 255, 1);
}

.qoutes{
  display: block;
  width: 1440px;
  height: 480px;
  background-color:rgba(240, 240, 240, 1);
}

/* footer style */

.footer{
  width: 1440px;
  height: 291px;
  background-color: rgba(2, 2, 2, 1);
}
