@font-face {
  font-display: swap;
  font-family: 'Stem';
  font-style: normal;
  font-weight: 300;
  src: local('Stem-Light'),
  url('fonts/Stem-Light.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Stem';
  font-style: normal;
  font-weight: 500;
  src: local('Stem-Medium'),
  url('fonts/Stem-Medium.woff2') format('woff2');
}
:root {
  --width-main: 1800px;
  --width-column: 1380px;
  --width-item: 410px;
}
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  box-sizing: border-box;
}
body {
  padding: 0 0.5rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
  &:visited {
    color: inherit;
  }
}
.nav__breadcrumb {
  width: 100%;
  max-width: var(--width-column);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.nav__breadcrumb-item {
  font: 300 14px/1 'Stem', sans-serif;
  color: #0F213A;
  &:not(:last-child)::after {
    content: '/';
    display: inline-block;
    margin: 0.715em;
    color: #666666;
  }
  &:last-child {
    color: #666666;
  }
}
.description__container {
  width: 100%;
  max-width: var(--width-column);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: calc(var(--width-column) * 0.051);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.description__text {
  font: 300 16px/1 'Stem', sans-serif;
  letter-spacing: 0;
}
.description__title {
  font: 300 35px/1 'Stem', sans-serif;
  letter-spacing: 1px;
}
.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: calc(var(--width-column) * 0.029);
}
.label__items, .label__item, .filters__toggle {
  font: 300 16px/1 'Stem', sans-serif;
  background-color: transparent;
}
.filters__toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
  &::before {
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1em;
    height: 1em;
    background: url("image/ico1.png") no-repeat;
  }
  &::after {
    content: '3';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #E9F0F1;
  }
}
/*section*/
.products {
  max-width: var(--width-column);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 75px;
}
.products__card {
  max-width: var(--width-item);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  gap: 14px;
  &.sale::after {
    content: '-20%';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    background-color: #C2D8EF;
    font: 350 14px/1 'Stem', sans-serif;
    color: #0F213A;
  }
  &.gift::after {
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    font: 350 14px/1 'Stem', sans-serif;
    background: #AF1685 url('image/ico2.png') no-repeat center center;
  }
}
.card__button-favorite {
  position: absolute;
  top: 25px;
  right: 25px;
  fill: none;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    fill: #0F213A;
  }
}
.card__image {
  max-width: var(--width-item);
  width: 100%;
  height: auto;
  object-fit: cover;
}
.card__labels {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  gap: 8px;
  font: 500 12px/1 'Stem', sans-serif;
}
.labels__new, .labels__bestseller{
  padding: 0.5em;
  color: #0F213A;
  background-color: #E9F0F1;
  display: none;
}
.products__card {
  &:nth-child(1) .labels__bestseller {
    display: flex;
  }
  &:nth-child(3) .labels__new {
    display: flex;
  }
  &:nth-child(3) .labels__bestseller {
    display: flex;
  }
  &:nth-child(5) .labels__new {
    display: flex;
  }
}
  .card__description {
    width: 92%;
    font: 500 16px/1.625 'Stem', sans-serif;
    letter-spacing: 0;
  }
  .product__rating {
    display: flex;
    justify-content: center;
    align-items: center;
    &::after {
      content: '(12)';
    }
  }
  .rating__point {
    color: #0F213A;
    cursor: pointer;
    &:hover ~ .rating__point {
      color: #C5C6C6;
    }
  }
  .cards-item__button {
    width: 100%;
    max-width: 248px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 500 14px/1 'Stem', sans-serif;
    color: #0F213A;
    background-color: transparent;
    text-transform: uppercase;
    border: 1px solid #000000;
    cursor: pointer;
    margin: 0.7em 0 1.7em 0;
    &.disabled {
      border-color: #E6E5E4;
      pointer-events: none;
    }
  }
  /*media*/
  @media (max-width: 800px) {
    :root {
      --width-main: 768px;
      --width-column: 708px;
      --width-item: 220px;
    }
    .products {
      gap: 24px;
    }
    .description__container {
      flex-direction: column;
      align-items: stretch;
    }
    .filters {
      flex-direction: row-reverse;
    }
    .card__description {
      width: 100%;
      font-size: 14px;
    }
    .products__card.gift::after, .products__card.sale::after {
      top: 12px;
      left: 12px;
    }
    .card__labels {
      font-size:8px;
    }
    .card__button-favorite {
      position: absolute;
      top: 17px;
      right: 15px;
    }
    .cards-item__button {
      width: 100%;
      max-width: var(--width-item);
      font: 500 14px/1 'Stem', sans-serif;
    }
  }
  @media (max-width: 400px) {
    :root {
      --width-main: 375px;
      --width-column: 355px;
      --width-item: 174px;
    }
    .products {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }
    .description__container {
    }
    .description__title {
      font-size: 25px;
    }
    .description__text {
      font-size: 16px;
    }
    .label__items, .label__item, .filters__toggle, .card__description {
      font-size: 14px;
    }
  }
}




