@font-face {
  font-display: swap;
  font-family: 'Stem';
  font-style: normal;
  font-weight: 300;
  src: local('Stem-Light'),
  url('fonts/Stem-Light.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Stem';
  font-style: normal;
  font-weight: 500;
  src: local('Stem-Medium'),
  url('fonts/Stem-Medium.woff2') format('woff2');
}
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  box-sizing: border-box;
}
:root {
  --width-main: 1800px;
  --width-column: 1380px;
  --width-item: 410px;
}
body {
  padding: 0 0.5rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
  &:visited {
    color: inherit;
  }
}
.nav__breadcrumb {
  max-width: var(--width-column);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.nav__breadcrumb-item {
  font: 300 14px/1 'Stem', sans-serif;
  color: #0F213A;
  &:not(:last-child)::after {
    content: '/';
    display: inline-block;
    margin: 0.715em;
    color: #666666;
  }
  &:last-child {
    color: #666666;
  }
}
.description__container {
  max-width: var(--width-column);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: calc(var(--width-column) * 0.051);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.description__text{
  font: 300 16px/1 'Stem', sans-serif;
  letter-spacing: 0;
}
.description__title {
  font: 300 35px/1 'Stem', sans-serif;
  letter-spacing: 1px;
}
.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: calc(var(--width-column) * 0.029);
}
.label__items, .label__item, .filters__toggle {
  font: 300 16px/1 'Stem', sans-serif;
  background-color: transparent;
}
.filters__toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
  &:after {
    content: '3';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #E9F0F1;
  }
}
/*section*/
.products{
  max-width: var(--width-column);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}


