* {
   margin: 0;
   padding: 0;
   border: none;
   outline: 0;
   box-sizing: border-box;
 }
span{
  color: #ff0000;
}
body{
  width: 100%;
  background: #a1a1a1;
}
.job-application{
  width: 640px;
  height: 640px;
  background-color: #fff;
}
.job-application__border{
  border: 1px solid #000000;
  
}
.job-application__contacts, .job-application__personal{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  gap: 10px 10px;
}

