

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  box-sizing: border-box;
}

body {
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.ideas{
  width: 1309px;
    height: 569px;                 /* не забыть убрать */
    border: 1px solid black;       /* тоже убрать */
  margin: 0 auto;                /* центрирую относительно body */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
}

.ideas__title{
  align-self: flex-start;
}

.ideas__card {
  height: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  border: 1px solid black;       /* тоже убрать */
}

.card__date {
  align-self: flex-end;
  color: #BE1736;
  position: relative;
  top: 20px;
}

.card__title {
  text-align: center;
}

