@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/montserrat-v29-cyrillic_latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/montserrat-v29-cyrillic_latin-600.woff2') format('woff2');
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  box-sizing: border-box;
}

body {
  width: 1350px;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.ideas {
  width: 1309px;
  margin: 0 auto; /* центрирую относительно body */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
}

.ideas__title {
  align-self: flex-start;
}

.ideas__card {
  width: 312px;
  height: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  border: 1px solid black; /* тоже убрать */
}

.card__date {
  margin-right: 30px;
  align-self: flex-end;
  color: #BE1736;
  position: relative;
  top: 20px;
}

.card__title {
  text-align: center;
}

