@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/montserrat-v29-cyrillic_latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/montserrat-v29-cyrillic_latin-600.woff2') format('woff2');
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  box-sizing: border-box;
}

body {
  width: 1350px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: #000000FF;
  font: 400 14px/100% "Montserrat", sans-serif;
}

ul {
  list-style-type: none;
}

.ideas {
  width: 1309px;
  margin: 47px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  background-color: #ffffff;
  z-index: 100;
}

.ideas__title {
  margin-bottom: 20px;
  font: 600 24px/100% "Montserrat", sans-serif;
  align-self: flex-start;
}

.ideas__cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 50px;
}

.ideas__card {
  background-color: white;
  width: 312px;
  height: 420px;
  border-radius: 5px;
  padding: 27px 7px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
  z-index: 100;

  &:hover {
    box-shadow: 0px 6px 10px 1px rgba(115, 115, 115, 0.3);
    z-index: 110;
  }
}

.card__date {
  font: 600 12px/100% "Montserrat", sans-serif;
  margin-right: 30px;
  align-self: flex-end;
  color: #BE1736;
  position: relative;
  top: 10px;
}

.card__img {
  width: 126px;
  height: 30px;
}

.card__title {
  font: 600 16px/100% "Montserrat", sans-serif;
  text-align: center;
}

.card__prices {
  font: 400 14px/20px "Montserrat", sans-serif;
  align-self: flex-start;
}

.card__prices > span {
  font-weight: 600;
}

.card__prices > span:nth-child(7) {
  color: #1c33ea;
}

.card__link, .ideas__link {
  display: flex;
  width: 262px;
  height: 50px;
  align-items: center;
  justify-content: center;

  &:hover {
    border: 1px solid #000000;
  }
}

.ideas__triangle_top, .ideas__triangle_bottom {
  position: absolute;
  z-index: 102;
}

.ideas__triangle_top{
  top: -47px;
  left: 1184px;
}

.ideas__triangle_bottom{
  top: 423px;
  left: -22px;
}

